  <thead>
  <tr>
    <th>Label</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  {% for field in fields %}
  <tr>
    <td>{{ field.label }}</td>
    <td>{{ field.field_type }}</td>
    <td>{{ field.description }}</td>
  <tr>
    {% endfor %}
  </tbody>
