{% for entity_type in data %}
  {% for entity in entity_type %}
    <caption>
      <h2>Nom : {{ entity.label }}{{ entity.name }} </h2>
      <h3>Description : {{ entity.description }}</h3>
    </caption>

    {% for field_type,fields in entity.fields %}
      {% if field_type == 'file' %}
        {% include '@documentation_export/fields/file-field.html.twig' %}
      {% else %}
        {% include '@documentation_export/fields/default-field.html.twig' %}
      {% endif %}

    {% endfor %}

  {% endfor %}
{% endfor %}

