<!DOCTYPE HTML>
<html class="pdf-html" lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>PDF</title>
  {% if stylesheet %}
    <link rel="stylesheet" href="{{ stylesheet }}" media="all"/>
  {% endif %}
</head>
<body>
  {% include '@documentation_export/entity-tables.html.twig' %}
</body>
